.git
.github
.vs
.vscode
.tools
.config
.localdata
.online-storage
artifacts
bin
obj
node_modules
publish
test-results
playwright-report
security-audit
tests
docs
*.db
*.db-shm
*.db-wal
*.log
*.user
.env
